/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
/* @layer base {
    *, ::before, ::after{
        border-style: none;
    }
} */

/* Required as Tailwind CSS styles conflict with this particular class which gives a weird line in appearance="outline" of <mat-form-field> element  */
.mdc-notched-outline__notch {
    border-right: none;
}